[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
psycopg2 = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
psycopg2-binary = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
python-multipart = "*"
python-dotenv = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.13"
